<% provide(:title, "Home")%>


<html>
  <head>
    <title><%=yield(:title) %> | Certifable</title>
  </head>
  <body>
    <div class="center jumbotron">
      <h1>Repos</h1>
      <h2>Report generations</h2>
      
      <%= link_to "Sign up now!",signup_path,class:"btn btn-lg btn-primary" %> 
      <br>
      <br>
</body>
      <%= link_to image_tag("rails.png",alt:"Certifable logo"),"#" %>
</html>
