<footer class="footer">
  <div>
  <small>
    Reports of Sultanas 
  </small>
  <nav>
    <ul>
    <li><a href="https://www.sultanas.gr">sultanas.gr</a></li>
    </ul>
  </nav>
  </div>
  </footer>
  

