<footer class="footer">
  <small>
    The certifable quality certificate repo 
  </small>
  <nav>
    <ul>
      <li><%=link_to "About" ,about_path %></li>
    <li><%=link_to "Contact" ,contact_path %></li>
    <li><a href="https://www.sultanas.gr">sultanas.gr</a></li>
    </ul>
  </nav>
  </footer>
  

